In [1]:
import pickle
import pandas as pd

In [6]:
with open('../data/after_nltk/data_movies_content_after_nltk_xyz.pkl', 'rb') as f:
    df = pickle.load(f)

In [7]:
df

,author,title,class,content,word_count,x,y,z,to_visualize,label
0,NaN,Aernout Mik - Communitas,[Kunstgeschichte],aernout mik zählt zu den wichtigsten künstlern...,64.0,-7.513774,7.285376,12.961429,1,Kunstgeschichte
1,NaN,Anton Henning : Dt. /Engl.,NaN,die vorliegende publikation widmet sich drei o...,113.0,-10.379019,6.238348,13.813574,0,
2,"Specht, Heike","Die Feuchtwangers : Familie, Tradition und j...","[Sprachwissenschaften, Geschichte]",150 jahre geschichte deutschjüdischen bürgertu...,169.0,-12.767757,4.444726,-1.552792,1,Geschichte
3,"Scruton, Roger",Grüne Philosophie : Ein konservativer Denkan...,"[Allgemeines, Philosophie, Theologie und Relig...",der umweltschutz liegt herkömmlich im hoheitsg...,101.0,1.051986,-9.927505,-0.726700,0,
4,"Schlagowski, Heinz",Technische Dokumentation im Maschinen- und An...,[Technik],das buch gibt dem anwender die entscheidenden ...,156.0,13.942272,11.421825,6.154578,0,
...,...,...,...,...,...,...,...,...,...,...
25585,NaN,NaN,NaN,NaN,NaN,-10.747351,-4.827079,13.541272,0,
25586,NaN,NaN,NaN,NaN,NaN,-7.401142,-7.587949,5.111702,0,
25587,NaN,NaN,NaN,NaN,NaN,-10.526672,7.853414,9.293555,0,
25588,NaN,NaN,NaN,NaN,NaN,-3.121433,7.418386,-8.118453,0,
25589,NaN,NaN,NaN,NaN,NaN,8.543670,13.153465,6.290041,0,

In [4]:
# # drop nan in ['content']
# df = df[df['content'].notna()]

In [9]:
df_vec = df[['x','y','z']]

In [11]:
df_vec['title'] = 0
df_vec['class'] = 0
df_vec

C:\Users\Johannes\Anaconda3\lib\site-packages\ipykernel_launcher.py:1: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  """Entry point for launching an IPython kernel.
C:\Users\Johannes\Anaconda3\lib\site-packages\ipykernel_launcher.py:2: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame.
Try using .loc[row_indexer,col_indexer] = value instead

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy

               x          y          z  title  class
0      -7.513774   7.285376  12.961429      0      0
1     -10.379019   6.238348  13.813574      0      0
2     -12.767757   4.444726  -1.552792      0      0
3       1.051986  -9.927505  -0.726700      0      0
4      13.942272  11.421825   6.154578      0      0
...          ...        ...        ...    ...    ...
25585 -10.747351  -4.827079  13.541272      0      0
25586  -7.401142  -7.587949   5.111702      0      0
25587 -10.526672   7.853414   9.293555      0      0
25588  -3.121433   7.418386  -8.118453      0      0
25589   8.543670  13.153465   6.290041      0      0

[25590 rows x 5 columns]

In [14]:
for val in df_vec['x']:
    temp = val/2

In [15]:
df_vec

               x          y          z  title  class
0      -7.513774   7.285376  12.961429      0      0
1     -10.379019   6.238348  13.813574      0      0
2     -12.767757   4.444726  -1.552792      0      0
3       1.051986  -9.927505  -0.726700      0      0
4      13.942272  11.421825   6.154578      0      0
...          ...        ...        ...    ...    ...
25585 -10.747351  -4.827079  13.541272      0      0
25586  -7.401142  -7.587949   5.111702      0      0
25587 -10.526672   7.853414   9.293555      0      0
25588  -3.121433   7.418386  -8.118453      0      0
25589   8.543670  13.153465   6.290041      0      0

[25590 rows x 5 columns]

In [12]:
df_vec.to_csv('../data/after_nltk/data_movies_content_after_nltk_xyz-temp.csv', index=True)